services:
  - type: web
    name: django-app
    env: python
    plan: free
    region: oregon
    buildCommand: "pip install -r requirements.txt"
    startCommand: "gunicorn project.wsgi:application"
